/*div.panel,p.flip {
	margin: 0px;
	padding: 5px;
	text-align: center;
	background: #ddd;
	border: solid 1px #fff;
}*/
 
.panel {
  width: 100%;
  max-height: 500px;
  background-color: transparent;
  box-shadow: none;
  display: none;
}

.form-control{
	border-radius: 2px;
}


.user {
	width: 60%;
	text-align: center;
	padding-bottom:5px;
}